In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import re

In [2]:
titles = []
prices = []

for i in range(1, 50):  #Iterating through all 50 pages 
    url = f'http://books.toscrape.com/catalogue/page-{i}.html?' #getting page URL for each page
    page = requests.get(url).text

    doc = BeautifulSoup(page, 'html.parser')

    section = doc.section

    div = section.contents[3]
    ol = div.contents[1]

    ol_c = ol.contents
    ol_c = ol_c[1:]
    ol_c = ol_c[::2]

    for lis in ol_c: #getting titles and prices for each product on a page
        h3_temp = lis.h3
        a_temp = h3_temp.a
        titles.append(a_temp.get('title'))
        
        price = lis.find_all(class_='price_color')
        price = price[0]
        prices.append(price.string[1:])

In [3]:
books = {'book_prices':prices, 'book_titles':titles} #making a dict that contains all book prices and titles

In [4]:
df = pd.DataFrame(books, columns=['book_titles', 'book_prices']) #converting dict to dataframe

In [5]:
df

                                           book_titles book_prices
0                                 A Light in the Attic      £51.77
1                                   Tipping the Velvet      £53.74
2                                           Soumission      £50.10
3                                        Sharp Objects      £47.82
4                Sapiens: A Brief History of Humankind      £54.23
..                                                 ...         ...
975                             Icing (Aces Hockey #2)      £40.44
976  Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)      £45.24
977  Having the Barbarian's Baby (Ice Planet Barbar...      £34.96
978               Giant Days, Vol. 1 (Giant Days #1-4)      £56.76
979           Fruits Basket, Vol. 1 (Fruits Basket #1)      £40.28

[980 rows x 2 columns]